:root {

  /* Colors */

  --white: #EBEBEB;
  --black: #0E0E0E;
  --intense: #4C63CA;
  --moderate: #5764A0;
  --grey: #535A75;
  --fade: #707899;

  --font-sans-serif: 'Segoe UI', Roboto, Oxygen, sans-serif;

}

html,
body {
  margin: 0;
  padding: 0;
}