.header {
    height:13.67vh;
    width:100%;
    background-color: var(--moderate);
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    padding:0 1.5em;
}

.rightSection {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:19.03vw;
}

.button {
    border:none;
    border-radius:15px;
    font-size:0.9em;
    height: 4.39vh;
    width:max(10.35vw,135px);
    cursor: pointer;
    align-self: center;
}