.actions {
    height:10vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.actions button {
    background-color: white;
    border:solid 1px var(--black);
    border-radius: 8px;
    padding:5px 20px;
    cursor: pointer;
    height:35px;
}

.actions input,
.actions input:focus {
  width:38.19vw;  
  box-sizing: border-box;
  height:35px;
  border-radius: 7px;
  border: solid 1px var(--black);
}

.table {
  margin:auto 30px;
  background-color: var(--moderate);
  width: 100%;
  border-radius: 8px;
  border: solid 1px var(--black);
  text-align: center;
  color:var(--black);
}

.th {
  color:var(--white);
}

